git+https://github.com/PyPSA/PyPSA.git
pandapower[all]
numpy>=1.21.0
pandas>=1.3.0
seaborn
gurobipy
scipy>=1.7.0
pypower
numba
matplotlib
grid2op
geopy
geopandas
statsmodels>=0.13.0
scikit-learn>=1.0.0
xgboost>=1.5.0
pulp
pyomo
joblib>=1.1.0